body{
    text-align: center;
    background-color: wheat;
}


nav{
    background: black;
    height: 50px;
}

span{
    color: tomato;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}


.menu a{
    text-decoration: none;
    font-size: medium;
    color:white;
    font-weight: bold;
    justify-content: center;
}

#about{
    text-align: center;
}

img{
    height: 300px;
    border-radius: 10cm;
}